{% extends "bootstrap/base.html" %}

{% block title %}To do list {% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/mystyle.css')}}">
{% endblock %}

{% block navbar %}
<div class = "navbar navbar-fixed-top">
	<a href="{{ url_for('index') }}">Home</a>
</div>
{% endblock %}

{% block content %}
	<h1>Todo List</h1>
	<hr>
	<div> 
		<form action="{{url_for('add')}}" method="POST"> 
			Add a todo item : 
			<input type="text" name = "todoitem">
			<input type="submit">
		</form>
	</div>
	{% for i in todo %}
		<form action="{{url_for('update',id=i.id)}}" method="POST">
			<h3>{{i.id}}&nbsp;&nbsp;{{ i.content }} </h3>
			<input type="submit" name="chkbox" value="complete">
		</form>
	{% endfor %}
{% endblock %}
